body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

.portfolio {
    display: flex;
    flex-wrap: wrap; /* 讓作品換行 */
    justify-content: space-around;
    padding: 2em;
}

article {
    flex-basis: 45%; /* 設置每個作品的基本寬度 */
    margin: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    padding: 1em;
}

img {
    width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
