<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Portfolio</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>

    <header>
        <h1>Your Portfolio</h1>
    </header>

    {% for block_id, news in articles %}
    <section class="news-group">
        <!-- <h1>{{block_id}}</h1> -->
            {% for block_news in news %}
            <article>
                <h1><a href="{{block_news[1]}}">{{block_news[0]}}</a></h1>
            </article>
            {% endfor %}
    </section>
    {% endfor %}

    <footer>
        <p>&copy; 2023 Your Name</p>
    </footer>

</body>
</html>
